<h1><%= t("users.new")%></h1>
<%= form_with model: @user, url: user_path, local: true do |f| %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :name, t("users.name")%>
    <%= f.text_field :name, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :email, t("users.email") %>
    <%= f.text_field :email, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :password, t("users.password") %>
    <%= f.password_field :password, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, t("users.password_confirmation")%>
    <%= f.password_field :password_confirmation, class: "form-control"%>
  </div>
    <%= f.submit t("sign_up"), class: "btn btn-primary"%>
<% end %>
