<%= form_with(model: @mission, local: true) do |f| %>
  <% if @mission.errors.any? %>
    <ul>
      <% @mission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :name, t("missions.name")%>
    <%= f.text_field :name, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :description, t("missions.desc") %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :start_at, t("missions.start") %>
    <%= f.datetime_field :start_at, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :end_at, t("missions.end") %>
    <%= f.datetime_field :end_at, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status, t("missions.status"), for: "mission_status"  %>
    <%= f.select :status, Mission.human_enum_collection("status"), {}, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :priority, t("missions.priority") %> 
    <%= f.select :priority, Mission.human_enum_collection("priority"), {}, class: "form-control" %>
  </div>
  
  <div>
    <%= f.submit class: "btn btn-primary"%>
  </div>

<% end %>

<%= link_to t("missions.list"), missions_path, class: "btn btn-success my-3"%>
