<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Training5xruby", root_path, class: "navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if current_user.blank? %>
        <li class="nav-item active">
          <%= link_to t("users.session_new"), new_session_path, class:"nav-link"%>
        </li>
        <li class="nav-item active">
          <%= link_to t("users.new"), new_user_path, class:"nav-link"%>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to t("home_page"), root_path, class:"nav-link"%>
        </li>
        <li class="nav-item active">
          <%= link_to t("logout"), session_path, method: "DELETE", class:"nav-link"%>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
