<h1><%= link_to t("missions.list"), order_by: "created_at" %></h1>
<table>
  <thead>
    <td><%= t("missions.name") %></td>
    <td><%= t("missions.desc") %></td>
    <td><%= t("missions.start") %></td>
    <td><%= link_to t("missions.end"), order_by: "end_at" %></td>
    <td><%= t("missions.status") %></td>
    <td><%= link_to t("missions.priority"), order_by: "priority"%></td>
  </thead>
  <tbody>
    <% @missions.each do |mission|%>
      <tr>
        <td>
          <%= mission.name %>
        </td>
        <td>
          <%= mission.description %>
        </td>
        <td>
          <%= mission.start_at %>
        </td>
        <td>
          <%= mission.end_at %>
        </td>
        <td>
          <%= mission_status_i18n(mission.status) %>
        </td>
        <td>
          <%= mission_priority_i18n(mission.priority) %>
        </td>
        <td>
          <%= link_to t("show"), mission_path(mission) %>
        </td>
        <td>
          <%= link_to t("edit"), edit_mission_path(mission) %>
        </td>
        <td>
          <%= link_to t("delete"), mission_path(mission), data: {method: "DELETE", confirm: t("missions.delete_confirm")} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t("missions.new_mission"), new_mission_path, class: "new-link" %>

<%= paginate @missions %>
