<h1>
  <%= link_to t("missions.list"), order_by: "created_at" %>
</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :name_cont, t("missions.name") %>
  <%= f.search_field :name_cont %>

  <%= f.label :status_eq, t("missions.status") %>
  <%= f.select :status_eq, Mission.human_enum_collection("status") %>

  <%= f.submit %>
<% end %>

<table class="table table-striped">
  <thead>
    <td><%= t("missions.name") %></td>
    <td><%= t("missions.desc") %></td>
    <td><%= t("missions.start") %></td>
    <td><%= link_to t("missions.end"), order_by: "end_at" %></td>
    <td><%= t("missions.status") %></td>
    <td><%= link_to t("missions.priority"), order_by: "priority"%></td>
    <td><%= t("show") %></td>
    <td><%= t("edit") %></td>
    <td><%= t("delete") %></td>
  </thead>
  <tbody>
    <% @missions.each do |mission|%>
      <tr>
        <td>
          <%= mission.name %>
        </td>
        <td>
          <%= mission.description %>
        </td>
        <td>
          <%= mission.start_at %>
        </td>
        <td>
          <%= mission.end_at %>
        </td>
        <td>
          <%= Mission.human_enum_name("status", mission.status) %>
        </td>
        <td>
          <%= Mission.human_enum_name("priority", mission.priority) %>
        </td>
        <td>
          <%= link_to t("show"), mission_path(mission), class: "btn btn-primary" %>
        </td>
        <td>
          <%= link_to t("edit"), edit_mission_path(mission), class: "btn btn-success" %>
        </td>
        <td>
          <%= link_to t("delete"), mission_path(mission), data: {method: "DELETE", confirm: t("missions.delete_confirm")}, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t("missions.new_mission"), new_mission_path, class: "new-link", class: "new-link btn btn-primary" %>

<%= paginate @missions %>

